body {
  color: #444;
  height: auto;
  background-image: url(../img/bg.png);
  background-repeat: repeat;
  font-family: 'Proxima Nova', Arial, Helvetica, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
  border-bottom: 1px dashed;
}

a:hover {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #ff4500;
}

p {
  font-size: 1.1em;
}

p.large {
  font-size: 1.2em;
}

p.larger {
  color: #777;
  font-size: 1.5em;
}

.container_fluid {
  width: 100%;
}

.ribbon {
  width: 100%;
  height: 10px;
  background: #ffe173 url(../img/header_strip.png) no-repeat top center;
}

.bold {
  font-family: 'Proxima Nova Bold', Arial, Helvetica, sans-serif;
}

.header img {
  padding: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.box legend {
  color: #777;
  font-size: 1.5em;
  margin-left: 1m;
  padding: 0.2em 0.8em;
}

.box fieldset {
  background-color: white;
  border: 1px #c1c1c1 solid;
  border-radius: 4px;
  padding: 0.2em 0.8em;
}

.featured {
  vertical-align: middle;
  height: 150px;
}
.featured h2 {
  padding-top: 48px;
  vertical-align: middle;
  text-align: center;
}

.featuredbox {
  border: 1px #c1c1c1 solid;
  border-radius: 4px;
  background: white;
}

.bigexample {
  padding: 10px 25px;
  background: url(../img/firepano_logo.png) no-repeat 20px 10px;
  padding-left: 100px;
}

.bigicon img {
  float: left;
  width: 60px;
  height: 60px;
  padding-right: 30px;
}

.bigdescription h2 {
  padding: 0;
  margin: 0;
}

.bigdescription p {
  font-size: 1.2em;
  padding: 0;
  margin: 0;
}

.content {
  font-size: 1.1em;
  padding: 0.8em;
}

.content li {
  list-style-type: none;
  background: url(../img/gist_icon.png) center left no-repeat;
  padding-top: 5px;
  padding-left: 20px;
}

.example {
  padding-bottom: 40px;
  height: 40px;
}

.icon {
  float: left;
  width: 40px;
  height: 40px;
}

.icon img {
  width: 30px;
  height: 30px;
  padding-top: 3px;
}

.bigicon {
  float: left;
  width: 80px;
  height: 80px;
}

.description {
  float: left;
  height: 40px;
  padding-left: 10px;
}

.description h4 {
  margin: 0px;
}

.description p {
  width: 300px;
}

.message {
  font-size: 1.5em;
  font-family: 'Proxima Nova Light Italic', Arial, Helvetica, sans-serif;
}

.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}

#footer {
  width: 100%;
  margin: 100px auto 10px;
  text-align: center;
}

#footer div {
  display: inline-block;
  padding: 0 25px;
}

.container_12 {
  padding-top: 30px;
  margin-bottom: 20px;
}

@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-bold-webfont.woff') format('woff'),
       url('../fonts/proximanova-bold-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Bold Italic';
  src: url('../fonts/proximanova-boldit-webfont.eot');
  src: url('../fonts/proximanova-boldit-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-boldit-webfont.woff') format('woff'),
       url('../fonts/proximanova-boldit-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-boldit-webfont.svg#proxima_nova_rgbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light Italic';
  src: url('../fonts/proximanova-lightitalic-webfont.eot');
  src: url('../fonts/proximanova-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'),
       url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-lightitalic-webfont.svg#proxima_nova_ltitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/proximanova-light-webfont.eot');
  src: url('../fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-light-webfont.woff') format('woff'),
       url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-light-webfont.svg#proxima_nova_ltregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/proximanova-regular-webfont.eot');
  src: url('../fonts/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-regular-webfont.woff') format('woff'),
       url('../fonts/proximanova-regular-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova Italic';
  src: url('../fonts/proximanova-regularitalic-webfont.eot');
  src: url('../fonts/proximanova-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/proximanova-regularitalic-webfont.woff') format('woff'),
       url('../fonts/proximanova-regularitalic-webfont.ttf') format('truetype'),
       url('../fonts/proximanova-regularitalic-webfont.svg#proxima_nova_rgitalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
